pdk_jacinto_*/packages/ti/binary/
arm-trusted-firmware/
bios_*/
cg_xml_*/
debug/
dsplib_c66x_*/
ethfw/
gcc-arm-*-x86_64-aarch64-none-elf/
gcc-arm-*-x86_64-aarch64-none-linux-gnu/
gcc-arm-*-x86_64-arm-none-linux-gnueabihf/
glew-*/
glm/
ivision/
mathlib_c66x_*/
mcusw/
mmalib_*/
ndk_*/
ns_*/
opkg-utils/
perception/
release/
targetfs
tiadalg/
ti-cgt-arm_*/
ti-cgt-c6000_*/
ti-cgt-c7000_*/
tidl_j7_*/
ti-optee-os/
uia_*/
video_codec/
vxlib_c66x_*/
xdais_*/
xdctools_*/
*.ae66
*.aer5f
*.ae71
*.xerf5
*.tiimage
*.bin
opkg-utils-master/
